html {
    background-color: cornmilk; 
}

article{
   /*one way to margin --  margin-left: 25%;*/    
    width: 80%;
    margin: 0 auto;
}

header {
    color: purple;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: underline;
}

h2 {
    color:aquamarine;
}

.intro-pragraph {
    color:blue;

}

#first-puppy{
    border:1px solid black; 
    box-sizing: 50%;
}

table{
    border-width: 2px;
    width: 100%;
}
th, td{
    text-align:left;
    padding: 8px;
}

tr:nth-child(even){
    background-color:darkgray;
}
/* pseudo selector*/

tr:nth-child(odd){
    background-color:blue;
}

/*camelcase naming convention  */
/* box-sizing preserves the box width */

/* CLASSES ARE MORE SPECIFIC THAN ELEMENTS, SO IF WE HAVE A P STYLE, THE .INTRO-PARAGRAPH WILL HAVE MORE SPEFICIFITY/PRIORITY - WILL APPLY FIRST 

/*good for resizing */

/* class are more specific than elements, elements are more specific than both = only use one element per page, but can use multiple different elements */

